{% extends 'base.html.twig' %}

{% block title %}Plant index{% endblock %}

{% block body %}
    <h1>Plant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Scientific_name</th>
                <th>Common_name</th>
                <th>Genus</th>
                <th>Description</th>
                <th>Uses</th>
                <th>Image_url</th>
                <th>Published</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plant in plants %}
            <tr>
                <td>{{ plant.id }}</td>
                <td>{{ plant.scientificName }}</td>
                <td>{{ plant.commonName }}</td>
                <td>{{ plant.genus }}</td>
                <td>{{ plant.description }}</td>
                <td>{{ plant.uses }}</td>
                <td>{{ plant.imageUrl }}</td>
                <td>{{ plant.published ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_plant_show', {'id': plant.id}) }}">show</a>
                    <a href="{{ path('app_plant_edit', {'id': plant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_plant_new') }}">Create new</a>
{% endblock %}
